
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #000000;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #cf6735;
  background-image: -moz-linear-gradient(top, #cdc02d 0%, #cf6735 100%);
  background-image: -ms-linear-gradient(top, #cdc02d 0%, #cf6735 100%);
  background-image: -o-linear-gradient(top, #cdc02d 0%, #cf6735 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cdc02d), color-stop(1, #cf6735));
  background-image: -webkit-linear-gradient(top, #cdc02d 0%, #cf6735 100%);
  background-image: linear-gradient(top, #cdc02d 0%, #cf6735 100%);
}
a {
  color: #d61111;
}
a:hover,
a:focus {
  color: #ff0f0f;
}
a:active {
  color: #ff4545;
}
.sidebar .block {
  background-color: #b19a9a;
  border-color: #ededed;
}
#page-wrapper,
#footer-wrapper {
  background: #1f1d1c;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #000000;
}
